@font-face {
    font-family: 'Roboto';
    font-style:normal ;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Roboto-Regular.ttf)
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/Roboto-Italic.ttf)
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(./fonts/Roboto-Bold.ttf)
}
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/EBGaramond-Medium.ttf)
}
@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/EBGaramond-Italic.ttf)
}
body {
    background-image: url(./images/megapolis.jpg);
    cursor:auto;
    font-family:'Roboto', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
nav {
    top:5px;
    text-align: center;
}
a {
    padding : 10px 5px 0px 5px;
    font-size: 20px;
}
.main-div {
    display:flex;
    flex-flow: row wrap;
    align-items: flex-start;
    gap:40px;
}
.main-div>div {
    max-width: 255px;
    max-height: 305px;
}
.font-type {
    margin-top: 18px;
    border:2px dotted rosybrown;
    text-align: center;
    width:initial;
    margin-right: auto ;
    margin-left: auto;
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif ;
}
b {
    font-family:'Times New Roman', Times, serif;
    color:rgb(253, 0, 0)
}
.about_myself {
    color:rgb(58, 86, 11);
    margin-top: 10px;
} 
.education {
    color:red;
    margin-top: 10px;
}

.experience{
    color:rgb(255, 247, 1);
    margin-top: 10px;
}
.hobby {
    color:rgb(255, 0, 221);
    margin-top: 10px;
}
.how_i_become_developer{
    color:rgb(255, 119, 0);
    margin-top: 10px;
}
.about_myself:hover,.education:hover,.experience:hover,.hobby:hover,.how_i_become_developer:hover{
    color:rgb(11, 136, 25);  
}  
.about_myself:link:hover,.education:link:hover,.experience:link:hover,.hobby:link:hover,.how_i_become_developer:link:hover{
    background-color:white;
}    
section {
    margin-bottom: 20px;
     font-size: 18px;
}
i {
    background-color: hsl(160, 100%, 75%, 0.4);
}
img {
    display:block;
    width:245px;
    height: 270px;
    padding:3px;
    background-color: rgb(12, 39, 30);
    margin-top: 18px;
    border-radius: 10%;
    cursor: none;
    box-shadow: 20px 0px 20px 5px rgb(167, 156, 172),-10px 0px 10px 5px rgb(167, 156, 172) ;   
}

.main-header {
    font-family: 'EB Garamond', Georgia, 'Times New Roman', Times, serif ;
    text-align: center;
}
.second-header:hover {
    background-color: rgba(230, 204, 55, 0.41);    
    transition: margin-left 2s ,transform 2s;
    transition: margin-right 2s ,transform 2s;
    transform: scale(1.1);   
    text-align:center;
}
p, a[target="_blank"] {
    border-left: 7px solid rgb(175, 88, 6);
    padding-left: 3px;
}
p:hover, a[target="_blank"]:hover {
    color:blue;
} 
.footer {
    font-weight: 900;
} 
li {
    list-style:square;
}




